* {
  margin: 0;
  padding: 0;
}

.container {
  border: 1px solid black;
  margin: 0 auto;
  margin-top: 10px;
  border-radius: 0.5rem;
  display: flex;
  padding: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.colorPickerDiv {
  display: flex;
  width: 400px;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  margin-top: 50px;
  margin-top: 1rem;
}

.input {
  display: flex;
}

button {
  padding: 4px 16px;
}
