* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.5em;
  font-size: 1rem;
}

.container {
  width: 90%;
  max-width: 980px;
  margin: 0 auto;
}

h1 {
  font-size: 3rem;
  text-align: center;
  padding: 0 1em;
  color: #333;
}

h2 {
  font-size: 1.25rem;
  color: #333;
}

span {
  font-size: inherit;
  color: #7832f7;
}

.header {
  max-width: 100%;
}

img {
  max-width: 100%;
}

.columns {
  display: flex;
}

.col-bg {
  background-color: #7b37f2;
  color: #fff;
  padding: 1em;
  margin-bottom: 1em;
}
