* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5rem;
  font-family: sans-serif;
}

header {
  text-align: center;
  padding: 2em 0;
  background-color: #f8f8f8;
}

h1 {
  font-weight: 700;
  font-size: 2.5rem;
  margin-bottom: 0.25em;
  margin-top: 1em;
  color: #333;
}

.sub-title {
  font-weight: 700;
  font-size: 1.25rem;
  margin-bottom: 1em;
  color: #333;
  color: lightseagreen;
}

nav ul {
  display: flex;
  justify-content: center;
}

nav li {
  list-style-type: none;
}

nav li:not(:last-child) {
  margin-right: 1em;
}

nav a {
  text-decoration: none;
  color: #333;
  font-size: 1rem;
  text-transform: uppercase;
  padding: 0.25em;
}

nav a:hover,
nav a:focus {
  color: #7f7f7f;
}

.current-page {
  border-bottom: 1px solid #333;
}

.container {
  max-width: 1200px;
  display: flex;
  margin: 0 auto;
  border: 1px solid red;
}
main {
  width: 70%;

  padding: 1em;
}

.article-featured {
  max-width: 100%;
  border-bottom: 2px solid #333;
  padding-bottom: 1em;
}

.article-featured img {
  width: 100%;
}
.article-title {
  font-size: 1.5rem;
  color: #333;
}

.article-info {
  margin: 0.5em 0;
}
.article-title {
  margin: 0.8em 0;
}
.article-body {
  color: #333;
  margin-bottom: 1em;
}

.article-read-more {
  color: lightseagreen;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}

.article-recent {
  background-color: #333;
  display: flex;
}

.article-recent-image {
  width: 30%;
}
.article-recent-image img {
  width: 100%;
}

.sidebar {
  width: 30%;
  background-color: #f8f8f8;
}

/* LAYOUT */

@media (max-width: 675px) {
  nav ul {
    display: flex;
    flex-direction: column;
  }
  nav li {
    margin: 0.5em 0;
  }
}

@media (min-width: 1080px) {
  header {
    display: flex;
    align-items: center;
    height: 65px;
    max-width: 100%;
    justify-content: space-evenly;
    background-color: inherit;
    padding: 4em;
    text-align: start;
    background-color: #f8f8f8;
  }

  .site-title {
    margin-right: 2em;
  }
}
