* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5rem;
  font-family: sans-serif;
}

header {
  text-align: center;
  padding: 2em 0;
  background-color: #f8f8f8;
}

h1 {
  font-weight: 700;
  font-size: 2.5rem;
  margin-bottom: 0.25em;
  margin-top: 1em;
  color: #333;
}

.sub-title {
  font-weight: 700;
  font-size: 1.25rem;
  margin-bottom: 1em;
  color: #333;
  color: lightseagreen;
}

nav ul {
  display: flex;
  justify-content: center;
}

nav li {
  list-style-type: none;
}

nav li:not(:last-child) {
  margin-right: 1em;
}

nav a {
  text-decoration: none;
  color: #333;
  font-size: 1rem;
  text-transform: uppercase;
  padding: 0.25em;
}

nav a:hover,
nav a:focus {
  color: #7f7f7f;
}

.current-page {
  border-bottom: 1px solid #333;
}

@media (max-width: 675px) {
  nav ul {
    display: flex;
    flex-direction: column;
  }
  nav li {
    margin: 0.5em 0;
  }
}

@media (min-width: 1080px) {
  header {
    display: flex;
    align-items: center;
    height: 65px;
    max-width: 100%;
    justify-content: space-evenly;
    background-color: inherit;
    padding: 2em;
    text-align: start;
    background-color: #f8f8f8;
  }

  .site-title {
    margin-right: 2em;
  }
}
